.dockerignore
.git
.gitignore
*.log
target/
bin/
*.jar
*.war
*.ear
.hotswapagent
.settings
.project
.classpath
.metadata
**/.gradle
**/gradle
gradle*
**/node_modules
**/npm-debug.log
Dockerfile*
docker-compose*
README.md
.vscode
.idea
*.iml
*.ipr
*.iws
*.bak
*.tmp
*.swp
*.swo
*~